function test1 0
push argument 0
push constant 100
lt // n < 100
if-goto L_ADD
goto L_END
label L_ADD
push argument 0
push constant 10
add
call test1 1
label L_END
push argument 0
push constant 10
add
return

function test2 0
push argument 0
push constant 20
sub
return

function Sys.init 0
push constant 123
call test1 1
// push constant 200
// call test2 1
// push constant 300
label FIN
goto FIN
